name: Cypress Kitchen Sink Tests

on:
  pull_request:
    branches:
      - main

env:
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build image
        uses: docker/build-push-action@v2
        with:
          push: false
          load: true
          context: .
          file: ./Dockerfile
          tags: |
            saucelabs/stt-cypress-mocha-node:local

      - name: Change user for cypress files
        run: |
          sudo chown -R 1000:1000 ./tests/kitchen-sink-tests/cypress

      - name: Run kitchen sink test
        uses: saucelabs/saucectl-run-action@v1
        with:
          working-directory: ./tests/kitchen-sink-tests
          sauce-username: ${{ secrets.SAUCE_USERNAME }}
          sauce-access-key: ${{ secrets.SAUCE_ACCESS_KEY }}
