name: Cypress Kitchen Sink Tests

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # appears that checkout@v2 uses javascript which is not compatible 
      # with the included node version in the container image.
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: false
          context: .
          file: ./Dockerfile
          tags: saucelabs/stt-cypress-mocha-node:latest

      - name: Install saucectl
        run: |
          LATEST_TAG=`curl -s https://api.github.com/repos/saucelabs/saucectl/releases/latest | jq -r '.name'`
          LATEST_VERSION=`echo ${LATEST_TAG} | sed s/v//`
          curl -s -L https://github.com/saucelabs/saucectl/releases/download/${LATEST_TAG}/saucectl_${LATEST_VERSION}_linux_64-bit.tar.gz | sudo tar -xvz -C /usr/bin/

      - name: Run kitchen sink test
        working-directory: ./tests/kitchen-sink-tests
        env:
          SAUCE_USERNAME: ''
          SAUCE_ACCESS_KEY: ''
        run: |
          sudo chown -R 1000:1000 ./cypress
          saucectl run

