name: Test

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: saucelabs/stt-cypress-mocha-node
          tag_with_ref: true
          cache_froms: saucelabs/stt-cypress-mocha-node:latest
          push: false
          build-args: |
            BUILD_TAG=pipeline-test

  build-fixtures:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: saucelabs/stt-cypress-mocha-node
          tag_with_ref: true
          cache_froms: saucelabs/stt-cypress-mocha-node:latest
          push: false
          build-args: |
            BUILD_TAG=pipeline-test

      - uses: saucelabs/saucectl-run-action@v1
        with:
          skip-run: true

      - name: Use yq
        run: sudo snap install yq

      - name: Run fixtures
        run: ./tests/fixtures/run.sh

  build-ubuntu-bundle-and-test:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Bundle Directory
        run: bash ./scripts/bundle.sh
      - 
        name: List bundle contents
        run: ls -R bundle/
  build-windows-bundle-and-test:
    runs-on: windows-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Bundle Directory
        run: bash ./scripts/bundle.sh
      - 
        name: List bundle contents
        run: ls -R bundle/
      -
        name: Print npm version
        run: bundle/node_modules/.bin/npm -v

  test_template:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      - name: Install yq
        run: sudo snap install yq

      # Install saucectl
      - uses: saucelabs/saucectl-run-action@v1
        with:
          skip-run: true

      # There is discrepencies between uid used to clone and uid in container,
      # As a temporary measure, we chmod files to allow test outputs to be written.
      - name: Workaround for container permissions
        run: sudo chmod -R 777 .saucetpl/

      # Run test in template
      - run: |
          docker build -t saucelabs/stt-cypress-mocha-node:local . > /dev/null 2>&1
          cd .saucetpl
          yq e -i '.docker.image = "saucelabs/stt-cypress-mocha-node:local"' .sauce/config.yml
          yq e -i '.cypress.version = "latest"' .sauce/config.yml
          saucectl run --test-env docker
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        name: Run template tests
