name: Test

on:
  pull_request:
    branches:
      - main

env:
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build docker image
        uses: docker/build-push-action@v3
        with:
          cache-from: |
            saucelabs/stt-cypress-mocha-node:latest
          push: false
          build-args: |
            BUILD_TAG=pipeline-test

  build-windows-bundle:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Authenticate gcloud
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GCS_RUNNER_SA_KEY }}'

      - name: Install gcloud SDK
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ secrets.GCS_RUNNER_PROJECT_ID }}
        env:
          CLOUDSDK_PYTHON: ${{env.pythonLocation}}\python.exe

      - name: Update Release version
        run: npm version --no-git-tag-version 1.0.0


      - name: Bundle Directory
        run: bash ./scripts/bundle.sh

      - name: Override Dependencies
        run: npm i get-port@6.1.2 --no-save
        working-directory: bundle/cache/10.7.0/Cypress/resources/app/node_modules

      - name: Archive bundle
        uses: azure/powershell@v1
        with:
          inlineScript: |
            Compress-Archive bundle/ sauce-cypress-runner.zip
          azPSVersion: '3.1.0'

      - name: Upload to GCS
        run: |
          gsutil cp ./sauce-cypress-runner.zip gs://${{ secrets.GCS_RUNNER_BUCKET }}/sauce-cypress-runner-${{ github.run_id }}.zip

  windows-bundle-test:
    needs: [build-windows-bundle]
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: npm i saucectl -g

      - name: Test on Sauce
        working-directory: ./tests/kitchen-sink-tests
        run: |
          saucectl run --config .sauce/config_on_sauce.yml --runner-version "url: https://storage.googleapis.com/${{ secrets.GCS_RUNNER_BUCKET }}/sauce-cypress-runner-${{ github.run_id }}.zip"

  build-mac-bundle:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Authenticate gcloud
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GCS_RUNNER_SA_KEY }}'

      - name: Install gcloud SDK
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ secrets.GCS_RUNNER_PROJECT_ID }}
        env:
          CLOUDSDK_PYTHON: ${{env.pythonLocation}}/python

      - name: Update Release version
        run: npm version --no-git-tag-version 1.0.0


      - name: Bundle Directory
        run: bash ./scripts/bundle.sh

      - name: Override Dependencies
        run: npm i get-port@6.1.2 --no-save
        working-directory: bundle/cache/10.7.0/Cypress.app/Contents/Resources/app/node_modules

      - name: Archive bundle
        run: zip --symlinks -r sauce-cypress-macos.zip bundle/

      - name: Upload to GCS
        run: |
          gsutil cp ./sauce-cypress-macos.zip gs://${{ secrets.GCS_RUNNER_BUCKET }}/sauce-cypress-macos-${{ github.run_id }}.zip

  mac-bundle-test:
    needs: [build-mac-bundle]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: npm i saucectl

      - name: Test on Sauce (Kitchen Sink)
        working-directory: ./tests/kitchen-sink-tests
        run: |
          npx saucectl run --config .sauce/config_on_sauce_mac.yml --runner-version "url: https://storage.googleapis.com/${{ secrets.GCS_RUNNER_BUCKET }}/sauce-cypress-macos-${{ github.run_id }}.zip"

  run-bundle-with-sauce-connect:
    runs-on: ubuntu-latest
    needs: [build-windows-bundle, build-mac-bundle]
    steps:
      - name: Checkout runner
        uses: actions/checkout@v3

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install saucectl
        run: npm install -g saucectl

      - name: Run web-page
        run: |
          python -m http.server 8000 &
        working-directory: ./tests/sauce-connect/www/

      - name: Start sauce-connect
        uses: saucelabs/sauce-connect-action@v2.0.0
        with:
          username: ${{ secrets.SAUCE_USERNAME }}
          accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
          tunnelIdentifier: github-cypress-sc-check-tunnel
          scVersion: 4.7.1

      - name: run saucectl (Windows)
        run: |
          saucectl run --config .sauce/config.yml --runner-version "url: https://storage.googleapis.com/${{ secrets.GCS_RUNNER_BUCKET }}/sauce-cypress-runner-${{ github.run_id }}.zip"
        working-directory: ./tests/sauce-connect/

      - name: run saucectl (MacOS)
        run: |
          saucectl run --config .sauce/config_mac.yml --runner-version "url: https://storage.googleapis.com/${{ secrets.GCS_RUNNER_BUCKET }}/sauce-cypress-macos-${{ github.run_id }}.zip"
        working-directory: ./tests/sauce-connect/
