name: Test

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: saucelabs/stt-cypress-mocha-node
          tag_with_ref: true
          cache_froms: saucelabs/stt-cypress-mocha-node:latest
          push: false
          build-args: |
            BUILD_TAG=pipeline-test

  build-ubuntu-bundle-and-test:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Bundle Directory
        run: bash ./scripts/bundle.sh
      - 
        name: List bundle contents
        run: ls -R bundle/
  build-windows-bundle-and-test:
    runs-on: windows-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Bundle Directory
        run: bash ./scripts/bundle.sh
      - 
        name: List bundle contents
        run: ls -R bundle/
      -
        name: Print npm version
        run: bundle/node_modules/.bin/npm -v

  test_template:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      - name: use yq
        uses: mikefarah/yq@v4.6.1

      # Install saucectl
      - uses: saucelabs/saucectl-run-action@v1
        with:
          skip-run: true

      # Run test in template
      - run: |
          docker build -t saucelabs/stt-cypress-mocha-node:local . > /dev/null 2>&1
          cd .saucetpl
          yq e -i '.docker.image = "saucelabs/stt-cypress-mocha-node:local"' .sauce/config.yml
          yq e -i '.cypress.version = "latest"' .sauce/config.yml
          saucectl run
        env:
          SKIP_CI: true
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        name: Run template tests